################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/DEPI.API/.vs/DEPI.API.slnx/FileContentIndex/236b4916-a177-4dc0-a2c4-052100af2186.vsidx
/server/DEPI.API/.vs/DEPI.API.slnx/FileContentIndex/6de17f87-12b9-433f-a8bc-35c155559123.vsidx
